* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: white;
}

.navbar {
  background-color: rgb(255, 255, 255, 0);
  position: fixed;
  top: 0px;
  z-index: 3;
  width: 100%;
  height: 160px;
  transition: all 0.5s ease-in-out;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
}
.navbar:hover {
  background-color: rgb(255, 255, 255, 0.7);
}

.logo {
  font-size: 32px;
  align-items: start;
  display: flex;
  justify-content: center;
  margin-top: 23px;
}
.rightitem {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
  font-size: 15px;
  font-weight: 200;
}
.rightitem li a {
  color: rgb(107, 105, 105);
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}

.rightitem li a:hover {
  color: black;
}

.linebox {
  display: flex;
  justify-content: center;
}

.line {
  margin-top: 11px;
  width: 630px;
  height: 1.5px;
  background-color: black;
  border: 0;
}

.menubar {
  font-size: 20px;
  font-optical-sizing: 10px;
  font-weight: 200;
  display: flex;
  justify-content: center;
  margin-top: 19px;
  opacity: 1;
  transition-property: opacity, margin-top;
  transition-duration: 0.2s, 0.5s;
}

.menubar li {
  margin-left: 69px;
  margin-right: 69px;
}
.menubar li a {
  color: rgb(107, 105, 105);
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}

.menubar li a:hover {
  color: black;
}

/* main */
main {
  margin-top: 210px;
  margin-right: 180px;
  margin-left: 180px;

  /* height: 448px; */
  color: white;
}

.banner_btn_box{
  margin: -120px 0 0 50px;
}

.banner_title {
  color: white;
}
#banner_img{
  width: 100%;
  height: auto;
}

.preview {
  padding-top: 100px;
  padding-left: 180px;
  padding-right: 180px;
}

.preview_h2{
  margin: 100px 0 30px 0;
  display: flex;
  justify-content: center;
}

.linebox2{
  display: flex;
  justify-content: center;
}
.line2 {
  margin: 0 0 20px 0;
  width: 1000px;
}

.linebox3{
  display: flex;
  justify-content: center;
}
.line3 {
  margin: 0 0 20px 0;
  width: 1000px;
}

.popular_h2 {
  margin: 100px 0 30px 0;
  display: flex;
  justify-content: center;
}

/* .new_cloth{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  margin-left: -200px;

} */

.event_btn {
  border: 1px solid #ffffff;
  /* padding: 2% 14%; */
  background-color: rgb(255, 255, 255, 0);
  color: #ffffff;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.event_btn:after {
  z-index: -1;
  content: "";
  width: 0%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: #ffffff;
}
.event_btn:hover {
  color: #333;
}
.event_btn:hover:after {
  width: 100%;
  z-index: -1;
}

/* Footer */

.footer{
  display: flex;
  justify-content: center;
}

.footer_top{
  margin-top: 100px;
  margin-bottom: 25px;
}

.footer_bottom{
  margin-bottom: 50px;
}
.footer_social{
  margin-bottom: 25px;
}
.footer_top_item{
  font-size: 15px;
  font-weight: 300;
  display: flex;
}

.footer_top_item li{
  margin: 0 10px 0 10px;

}