* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

.cart_name {
  font-size: 32px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.cart {
  margin: auto;
  font-size: 18px;
  border-collapse: collapse;
}

.cart_sort {
  border-bottom: 2px solid black;
}

.cart_list {
  background-color: rgb(173, 167, 167);
}

.cost {
  border-top: 2px solid black;
  font-size: 18px;
}

.cost_money {
  background-color: rgb(173, 167, 167);
}

.cart_btn {
  text-align: center;
  margin-bottom: 300px;
}

.bb{
  color: white;
}


.back_btn {
  width: 5%;
  height: 30px;
  margin-top: 50px;
  margin-right: 50px;
  display: inline-block;
  border: none;
  color: white;
  background-color: grey;
  border-radius: 10%;
}

.pay_btn {
  width: 5%;
  height: 30px;
  margin-top: 50px;
  margin-left: 50px;
  display: inline-block;
  color: white;
  background-color: grey;
  border: none;
  border-radius: 10%;
}
